header {
  background: #111;
  color: salmon;
  text-align: center;
  font-style: italic;

}

header  h1{
  height: 50px;
  font-size: 45px;
  padding: 15px;
  font-weight: bold;
  font-family: 'Righteous', sans-serif;
}

header nav {
  background-color: salmon;
  width: 100%;
  padding: 10px;
  text-align: left;
}

header nav li {
  display: inline-block;
}

header nav li a {
  color: #111;
  text-decoration: none;
}

 h2 {
  font-family: 'Righteous', sans-serif;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: .5em;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

th {
  background-color: rgb(126, 126, 126);
  padding: .3em;
  font-weight: bold;
  color: rgb(236, 236, 236);
}

tbody td {
  background-color: salmon;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 8px;
}

tfoot td {
  background-color: rgb(126, 126, 126);
  padding: 8px;
  color: rgb(236, 236, 236);

}

main {
  margin: 2em;
}

.hero img {
  max-width: 100%;
  border-bottom: 2px;
  border-color: #111;
  border-style: solid;
  border-width: 100%;
}

section {
  margin-bottom: .5em;
}

section li {
  color: rgb(97, 97, 97);
  padding: 3px;
  margin-left: 1.5em;
}
footer {
  background-color: rgb(168, 167, 167);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}




